{% extends "index.html" %}

{% block content %}
<div>
    <form id="sign-up-form" class="signin" method="POST">
        <div class="element">
            <label for="user_name">
                Name
            </label>
            <input class="input myInput" id="user_name" maxlength="50" name="user_name" type="text" alt="put your name here">
        </div>
        <div class="element">
            <label for="user_email">
                Email
            </label>
            <input class="input myInput" id="user_email" name="user_email" type="email" alt="put your email here">
        </div>

        <div class="element">
            <label for="user_password">
                Password
            </label>
            <input class="input myInput" id="user_password" maxlength="50" name="user_password" type="password" minlength="10" alt="put your password here">
            <div class='status' aria-hidden="true">At least 10 characters</div>
        </div>
        <button id="user-signup">Sign me up!</button>
    </form>
</div>
{% endblock %}